<section
  className="popular-restaurant section-b-space ratio3_2 overflow-hidden ng-star-inserted"
>
  <div  className="container">
   <div  className="row g-md-4 g-3">
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/poultry-palace"
                  style="
                    background-image: url('assets/images/product/vp-1.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-1.png"
                /></a>
                <div
                  
                  className="offers ng-star-inserted"
                >
                  <img
                    
                    src="assets/images/shape.png"
                    alt="shape"
                    className="img-fluid"
                  />
                  <h6 >upto $2</h6>
                  <div
                    
                    className="d-flex align-items-center justify-content-end"
                  >
                    <h4 >50% OFF</h4>
                  </div>
                </div>
                <!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/poultry-palace"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Poultry Palace
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.9
                  </h6>
                </div>
                <h5  className="product-items">
                  Chicken quesadilla, avocado....
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">New Jsercy</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      3.2 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      25 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/ribeye-junction"
                  style="
                    background-image: url('assets/images/product/vp-2.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-2.png"
                /></a>
                <div
                  
                  className="offers ng-star-inserted"
                >
                  <img
                    
                    src="assets/images/shape.png"
                    alt="shape"
                    className="img-fluid"
                  />
                  <h6 >upto $2</h6>
                  <div
                    
                    className="d-flex align-items-center justify-content-end"
                  >
                    <h4 >50% OFF</h4>
                  </div>
                </div>
                <!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/ribeye-junction"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Ribeye Junction
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.2
                  </h6>
                </div>
                <h5  className="product-items">
                  Chicken quesadilla, avocado....
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">California</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      1 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      10 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/the-grill-master-cafe"
                  style="
                    background-image: url('assets/images/product/vp-3.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-3.png" /></a
                ><!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/the-grill-master-cafe"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      The Grill Master's Cafe
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >4.3
                  </h6>
                </div>
                <h5  className="product-items">
                  Bread, Eggs, Butter, Fries...
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">New York</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      5 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      40 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/cozy-cuppa-cafe"
                  style="
                    background-image: url('assets/images/product/vp-4.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-4.png" /></a
                ><!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/cozy-cuppa-cafe"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Cozy Cuppa Cafe
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.6
                  </h6>
                </div>
                <h5  className="product-items">
                  cheesecake, waffles, Cakes,...
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Dallas</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      4 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      30 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/mocha-magic-cafe"
                  style="
                    background-image: url('assets/images/product/vp-5.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-5.png" /></a
                ><!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/mocha-magic-cafe"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Mocha Magic Cafe
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.2
                  </h6>
                </div>
                <h5  className="product-items">
                  Chinese, Momos, Dumplings,...
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Seattle</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      1 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      8 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/latte-lounge"
                  style="
                    background-image: url('assets/images/product/vp-6.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-6.png"
                /></a>
                <div
                  
                  className="offers ng-star-inserted"
                >
                  <img
                    
                    src="assets/images/shape.png"
                    alt="shape"
                    className="img-fluid"
                  />
                  <h6 >upto $2</h6>
                  <div
                    
                    className="d-flex align-items-center justify-content-end"
                  >
                    <h4 >50% OFF</h4>
                  </div>
                </div>
                <!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/latte-lounge"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Latte Lounge
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.9
                  </h6>
                </div>
                <h5  className="product-items">
                  Chicken fingers, Chicken goujons,....
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Atlanta</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      3 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      25 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/the-burger-barn"
                  style="
                    background-image: url('assets/images/product/vp-7.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-7.png"
                /></a>
                <div
                  
                  className="offers ng-star-inserted"
                >
                  <img
                    
                    src="assets/images/shape.png"
                    alt="shape"
                    className="img-fluid"
                  />
                  <h6 >upto $2</h6>
                  <div
                    
                    className="d-flex align-items-center justify-content-end"
                  >
                    <h4 >50% OFF</h4>
                  </div>
                </div>
                <!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/the-burger-barn"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      The Burger Barn
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.8
                  </h6>
                </div>
                <h5  className="product-items">
                  Burger, Garlic Bread, Sandwich....
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Chicago</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      2.4 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      20 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/wing-master"
                  style="
                    background-image: url('assets/images/product/vp-8.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-8.png"
                /></a>
                <div
                  
                  className="offers ng-star-inserted"
                >
                  <img
                    
                    src="assets/images/shape.png"
                    alt="shape"
                    className="img-fluid"
                  />
                  <h6 >upto $2</h6>
                  <div
                    
                    className="d-flex align-items-center justify-content-end"
                  >
                    <h4 >50% OFF</h4>
                  </div>
                </div>
                <!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/wing-master"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Wing Master
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >3.2
                  </h6>
                </div>
                <h5  className="product-items">
                  Chicken quesadilla, avocado....
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">New York</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      1.8 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      12 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/lettuce-eat-bistro"
                  style="
                    background-image: url('assets/images/product/vp-15.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-15.png" /></a
                ><!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/lettuce-eat-bistro"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Lettuce Eat Bistro
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >7.9
                  </h6>
                </div>
                <h5  className="product-items">
                  cheesecake, waffles, Cakes,...
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Ottawa</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      12 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      60 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            
            className="col-xl-3 col-lg-4 col-md-6 ng-star-inserted"
          >
            <div
              
              className="vertical-product-box product-style-3"
            >
              <div  className="vertical-product-box-img">
                <a
                  
                  className="bg-size"
                  href="/zomo/order/menu-listing/take-it-cheesy"
                  style="
                    background-image: url('assets/images/product/vp-16.png');
                  "
                  ><img
                    
                    alt="vp1"
                    className="product-img-top w-100 bg-img"
                    style="display: none"
                    src="assets/images/product/vp-16.png" /></a
                ><!---->
              </div>
              <div  className="vertical-product-body">
                <div
                  
                  className="d-flex align-items-center justify-content-between"
                >
                  <a
                    
                    href="/zomo/order/menu-listing/take-it-cheesy"
                    ><h4
                      
                      className="vertical-product-title"
                    >
                      Take It Cheesy
                    </h4></a
                  >
                  <h6  className="rating-star">
                    <span  className="star"
                      ><i
                        
                        className="ri-star-s-fill"
                      ></i></span
                    >5.0
                  </h6>
                </div>
                <h5  className="product-items">
                  cheesecake, waffles, Cakes,...
                </h5>
                <div
                  
                  className="location-distance d-flex align-items-center justify-content-between pt-sm-3 pt-2"
                >
                  <h5  className="place">Victoria</h5>
                  <ul  className="distance">
                    <li >
                      <i
                        
                        className="ri-map-pin-fill icon"
                      ></i>
                      9 km
                    </li>
                    <li >
                      <i
                        
                        className="ri-time-fill icon"
                      ></i>
                      3 min
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div></app-product-box-four
      ><!----><!----></app-product-box
    >
  </div>
</section>
