[dir=rtl] .product-box-section {
  margin-top: calc(15px + 15 * (100vw - 320px) / 1600);
  padding: calc(10px + .00625*(100vw - 320px));
  background-color: rgba(var(--white),1)
}
.product-box-section {
  height: 0;
  margin-top: calc(15px + 15 * (100vw - 320px) / 1600);
  padding: calc(10px + .00625*(100vw - 320px));
  background-color: rgba(var(--white),1)
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box-title {
  padding-top: 10px;
  font-size: calc(16px + .00375*(100vw - 320px));
  font-weight: 500;
  color: rgba(var(--dark-text),1)
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box {
  width: 100%;
  padding: calc(10px + .00625*(100vw - 320px)) 0;
  border-bottom: 1px solid rgba(var(--dashed-line),1);
  position: relative;
  display: flex;
  gap: 15px
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-img .img {
  width: calc(100px + .03125*(100vw - 320px));
  height: calc(100px + .03125*(100vw - 320px));
  border-radius: 7px;
  object-fit: cover
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - (100px + .03125*(100vw - 320px)) - 15px)
}

@media (max-width: 425px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description {
      flex-wrap:wrap
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description>div:first-child {
  width: 73%
}

@media (max-width: 425px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description>div:first-child {
      width:100%
  }
}

@media (max-width: 420px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description {
      display:block!important
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  color: rgba(var(--dark-text),1)
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description h2 span {
  font-size: calc(14px + .0025*(100vw - 320px));
  font-weight: 400;
  color: rgba(var(--content-color),1)
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .customized {
  display: list-item;
  list-style-type: disc;
  margin-left: 25px;
  color: rgba(var(--content-color),1)
}

[dir=rtl] [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .customized {
  margin-left: unset;
  margin-right: 25px
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .customized::marker {
  color: rgba(var(--content-color),1)
}

@media (max-width: 767px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .customized {
      display:none
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px dashed rgba(var(--dashed-line),1);
  margin-top: 5px
}

@media (max-width: 425px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section {
      padding-bottom:0;
      border-bottom: none
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-star {
  display: flex;
  align-items: center;
  gap: 1px
}

@media (max-width: 450px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-star {
      width:fit-content
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-star li {
  padding: 0;
  border-bottom: none;
  line-height: 1
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-star li .star {
  color: rgba(var(--rate-color),1);
  font-size: calc(14px + .00125*(100vw - 320px));
  line-height: 1
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-amount {
  color: rgba(var(--content-color),1);
  font-size: 16px
}

@media (max-width: 350px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .rating-section .rating-amount {
      display:none
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description p {
  width: 100%;
  font-size: calc(14px + .00125*(100vw - 320px));
  font-weight: 400;
  padding-top: 10px;
  color: rgba(var(--content-color),1);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

@media (max-width: 1200px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description p {
      width:100%
  }
}

@media (max-width: 425px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description p {
      display:none
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price h2 {
  font-size: calc(20px + .0025*(100vw - 320px))
}

@media (max-width: 425px) {
  [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price {
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      height: unset;
      width: 100%;
      margin-top: 5px
  }
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price h2 span {
  font-size: calc(14px + .0025*(100vw - 320px));
  font-weight: 400;
  color: rgba(var(--content-color),1)
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price .add-btn {
  border-radius: 10px;
  padding: calc(5px + .0025*(100vw - 320px)) calc(14px + 13 * (100vw - 320px) / 1600);
  margin-left: auto
}

[dir=rtl] [dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price .add-btn {
  margin-left: 0;
  margin-right: auto
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price .plus-minus {
  border-radius: 6px;
  border: 1px solid rgba(var(--theme-color),1);
  padding: 6px 17px;
  display: inline-flex;
  align-items: center;
  background-color: rgba(var(--box-bg),1);
  text-align: center;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: -15px;
  display: none
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price .plus-minus input {
  background-color: rgba(var(--white),1);
  color: rgba(var(--theme-color),1);
  border: none;
  font-size: 14px;
  outline: none;
  width: 35px;
  text-align: center
}

[dir=rtl] .product-box-section .product-details-box-list .product-details-box .product-content .description .product-box-price .plus-minus i {
  color: rgba(var(--theme-color),1)
}