@media (min-width: 768px) {
  [dir=ltr] .col-md-6 {
    flex: 0 0 auto;
    width: 50%; /* Ekranı iki sütuna böl */
  }
}

@media (min-width: 992px) {
  [dir=ltr] .col-lg-9 {
    flex: 0 0 auto;
    width: 75%; /* Ekranı daha geniş alanda düzenle */
  }
}


.address-section .address-box.new-address-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px; /* Kart yüksekliğiyle aynı */
  padding: 15px;
  border: 2px dashed rgba(var(--theme-color), 1);
  background-color: #fafafa;
}
.address-section .address-box .address-title .icon {
  font-size: 22px;
  color: rgba(var(--theme-color), 1);
}.address-section .address-box .address-title .edit-btn {
  font-size: 14px;
  background-color: rgba(var(--theme-color), .12);
  padding: 2px 14px;
  border-radius: 20px;
  color: rgba(var(--theme-color2), 1);
}.address-section .address-box .address-details .phone-number {
  margin-top: 12px;
  color: rgba(var(--content-color), 1);
}
.address-section .address-box .address-title {
  border-bottom: 1px solid rgba(var(--dashed-line), 1);
  padding: calc(10px + 5*(100vw - 320px) / 1600);
  display: flex
;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
/* Transparent modal backdrop */
.modal-backdrop.show {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}
.address-section .address-box {
  border: 1px solid rgba(var(--dashed-line), 1);
  border-radius: 6px;
  height: 180px; /* Sabit yükseklik */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* İçerikleri dikey olarak hizalar */
  padding: 15px;
  background-color: #fff; /* Arka plan beyaz */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}
.address-section .address-box .address-details {
  padding: calc(10px + 5*(100vw - 320px) / 1600);
}

.address-section .address-box .address-title h6 {
  font-weight: 500;
  background: linear-gradient(to right, rgba(var(--theme-color), 1), rgba(var(--theme-color2), 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}
/* Modal açıkken body'nin kaymasını engelle */
body.modal-open {
  overflow: hidden;
  padding-right: 0 !important; /* Scrollbar alanını kaldırmak için */
}

.address-details-modal .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid rgba(var(--dashed-line), 1);
}
.modal-content {
  position: relative;
  display: flex
;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
.modal.show .modal-dialog {
  transform: none;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}
